################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Assets/Dow
/Assets/Dow
/Assets/Dow
